/*! ----- 8. MEDIA QUERIES -------------------------------------------------------*/

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) { 

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    li {
        font-size: 1rem;
    }

    .bg-project-details {
        padding: 1em;
        margin: 0.5em;
    }

    #project-1-description {
        margin-right: 0.5em;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) { 

    .img-100 {
        width: 50%;
        @include justify-content(center);
    }

}

/* // Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) { 

}

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and  (max-width: 1200px) { 

}

/* NAV MEDIA Q*/
@media screen and (max-width: 597px) {

    #nav-items {
        @include flex-direction(column);
        display: inline-block;
    }
  
    .topnav-home {
      padding: 0;
    }

    .navbar-nav {
        margin-top: 0.6em;
        float: none;
        text-align: center;
        background-color: #F2F2F2;
        border-radius: 2rem;
        width: 90vw;

    }

    .nav-section {
        border: {
            bottom-width: 0.15rem;
            bottom-style: solid;
            bottom-color:  $light-grey;
        }
        width: 90vw;
        padding-bottom: 0.6em;
    }
  
}

