/*! Components: anything reusable such as buttons, navbars, cards etc. */



/* ----- 1. BRANDING -------------------------------------------------------*/

.color-item-top {
    height: 4em;
    @include border-radius(0.8rem 0.8rem 0rem 0rem);
}

.color-item-bottom {
    height: 4em;
    @include border-radius(0rem 0rem 0.8rem 0.8rem);
    margin-bottom: 1rem;
}

.bkg-yellow {
    background-color: $yellow;
}

.bkg-yellow-shade {
    background-color: $yellow-shade;
}

.bkg-dark-grey {
    background-color: $dark-grey;
}

.bkg-black {
    background-color: $black;
}

.bkg-white {
    background-color: $white;
}

.bkg-light-grey {
    background-color: $light-grey;
}


/* ----- 2. TEXT & TYPOGRAPHY -------------------------------------------------------*/

.section-border {
    margin-bottom: 3rem;
    padding: {
        bottom: 2rem;
        top: 1rem;
    }
    border: {
        bottom-width: 0.15rem;
        bottom-style: solid;
        bottom-color:  #A7A7A7;
    }
}

h1 {
    @include set-font($black, 'Raleway', 4.5rem, normal, bold);
}

h2 {
    @include set-font($black, 'Work Sans', 3rem, normal, 500);
}

h3 {
    @include set-font($black, 'Work Sans', 2.2rem, normal, normal);
}

h4 {
    @include set-font($dark-grey, 'Work Sans', 1.6rem, italic, normal);
}

h5 {
    @include set-font($black, 'Work Sans', 1.5rem, normal, bold);
    margin: {
        top: 2rem;
        bottom: 2rem;
    }
}

.caption {
    @include set-font($black, 'Work Sans', 1.5rem, normal, normal);
    font-variant: small-caps;
}

p, ol, ul {
    @include set-font($black, 'Work Sans', 1.3rem, normal, normal);
    line-height: 1.948rem;
}

.txt-italic-subtitle {
    @include set-font($black, 'Work Sans', 1.8rem, italic, normal);

    margin-top: 3rem;
    padding: {
        bottom: 1rem;
        top: 0.5rem;
    }
    border: {
        bottom-width: 0.15rem;
        bottom-style: dashed;
        bottom-color: $light-grey;
    }
}

.txt-headings-info {
    /* for style guide only*/
    @include set-font(#A7A7A7, 'Open Sancs', 1.1rem, normal, normal);

    border: {
        top-width: 0.1rem;
        top-style: solid;
        top-color: #A7A7A7;
    }
    max-width: 65%;
}

.txt-secondary-color {
    color: $dark-grey;
}

li {
    font-size: 1.6rem;
    margin: {
        top: 1em;
        bottom: 1em;
    }
}


/* ----- 3. INTERACTIVE -------------------------------------------------------*/

.txt-p-link {
    @include set-font($black, 'Work Sans', 1.3rem, normal, bold);
    line-height: 1.948rem;
    text-decoration: none;
}

.txt-foot-link {
    @include set-font($black, 'Work Sans', 1.3rem, normal, normal);
    line-height: 1.948rem;
    text-decoration: none;
}


.txt-p-link:hover, .txt-p-link:focus, .txt-foot-link:hover, .txt-foot-link:focus {
    color: $yellow-shade;
}


.btn-call-action {
    @include btn($yellow, $black);
}

.btn-call-action:hover, .btn-call-action:focus {
    @include bkg-text-colour($yellow-shade, $dark-grey);
}

.btn-dark {
    @include btn($dark-grey, $white);
    font-weight: 500;
}

.btn-dark:hover, .btn-dark:focus {
    @include bkg-text-colour($black, $white);
}

.btn-light {
    @include btn($white, $black);
}

.btn-light:hover, .btn-light:focus {
    @include bkg-text-colour($light-grey, $black);
}

.btn-outline-action {
    @include btn(transparent, $yellow);
    border: 0.25rem solid $yellow;
}

.btn-outline-action:hover, .btn-outline-action:focus {
    @include bkg-text-colour($yellow, $dark-grey);
}

.btn-outline-dark {
    @include btn(transparent, $dark-grey);
    border: 0.25rem solid $dark-grey;
}

.btn-outline-dark:hover, .btn-outline-dark:focus {
    border: 0.25rem solid $dark-grey;
    @include bkg-text-colour($dark-grey, $white);
}

.btn-submit {
    @include btn($yellow, $black);
    width: 8em;
    @include border-radius(0.5rem 0.5rem 0.5rem 0.5rem);
}

.btn-submit:hover, .btn-submit:focus {
    @include bkg-text-colour($yellow-shade, $dark-grey);
}

.btn-reset {
    @include btn($dark-grey, $white);
    width: 8em;
    @include border-radius(0.5rem 0.5rem 0.5rem 0.5rem);
    font-weight: 500;
}

.btn-reset:hover, .btn-reset:focus {
    @include bkg-text-colour($black, $white);
}

label {
    @include set-font($black, 'Work Sans', 1.3rem, normal, bold);
}

::placeholder {
    @include set-font($light-grey, 'Work Sans', 1.1rem, normal, normal);
    line-height: 1.1rem;
    overflow: visible;
}

input[type=text], textarea {
    @include border-radius(0.5rem);

    @include set-font-interactive('Work Sans', 1rem, normal, normal);

    background: #fff;
    border: 0.12rem solid $light-grey;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .1));
    padding: 0.7rem;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    outline-color: $yellow;
    overflow: hidden;
    transition: .2s border-color;
}

input[type=text]:hover, input[type=text]:focus, textarea:hover, textarea:focus {
    color: $black;
    border: 0.12rem $yellow-shade solid;
}

input[type=radio], input[type=checkbox] {
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: $yellow;
}



.img-link {
    padding: 0.3rem;
    max-width: 30%;
    margin-top: 1rem;
    @include border-radius(0.5rem 0.5rem 0.5rem 0.5rem);
}

.img-link-project-home {
    padding: 0.3rem;
    max-width: 100%;
    margin-top: 1rem;
    @include border-radius(0.5rem 0.5rem 0.5rem 0.5rem);
}

.img-link:hover, .img-link:focus, .img-link-project-home:hover, .img-link-project-home:focus {
    opacity: 0.5;
}


.drop-shadow {
    @include box-shadow(0px 0.4375em 0.625em rgba(0, 0, 0, 0.07));
}


/* ----- 4. GRID & LAYOUT & SPACING -------------------------------------------------------*/

.grid-border {
    border: 1px solid grey;
    background: lightblue;
}

.row-bkg-grid div{
    border: 1px solid $black;
}

.row-bkg-grid:nth-child(odd) {
    background-color: $yellow;
}
  
.row-bkg-grid:nth-child(even) {
    background-color: $light-grey;
}

.margin-left {
    margin-left: 2em;
}

.margin-right {
    margin-right: 3em;
}

.margin-bottom {
    margin-bottom: 2em;
}

.margin-top {
    margin-top: 2em;
}

.margin-t-9 {
    margin-top: 9em;
}

.margin-t-3 {
    margin-top: 3em;
}

.margin-b-1 {
    margin-bottom: 1em;
}

.margin-b-4 {
    margin-bottom: 4em;
}

.padding-b-3 {
    padding-bottom: 3em;
}


/* ----- 5. COMBINED ELEMENTS -------------------------------------------------------*/

.navbar-nav {
    @include flex-direction(row);
}

.txt-nav {
    @include set-font($black, 'Work Sans', 1.5rem, normal, 500);
    text-decoration: none;
}

.txt-nav:hover, .txt-nav:focus {
    color: $dark-grey;
}

/* foot content*/

.bg-light-grey {
    background-color: $light-grey;
}

.bg-copywrite {
    background-color: $dark-grey;
}

.txt-footer {
    color: $light-grey;
}

.bg-project-details {
    padding: 2.5em;
    background-color: $white;
    @include border-radius(0.5rem 0.5rem 0.5rem 0.5rem);
}

.img-100 {
    width: 100%;
}

.img-100-nb {
    width: 100%;
}


/* ----- 6. TEMPLATES -------------------------------------------------------*/

.project-1-bkg-img {
    @include project-bkg-img("background-header.png");
}

.project-2-bkg-img {
    @include project-bkg-img("background-header-p2.png");
}

.project-title {
    padding-top: 30vh;
    padding-bottom: 20vh;
    text-align: center;
    font-weight: 500;
    @include justify-content(center);
    @include align-items(center);
    /* text-shadow: 1px 1px 40px var(--dark-grey); */
}

/* ----- 7. CITATIONS -------------------------------------------------------*/