/*Custom CSS Overrides Bootstrap Styling*/

:root {
    --yellow: #FDDB3A;
    --yellow-shade: #EECD32;
    --dark-grey: #41413A;
    --black: #232320;
    --white: #F9F8F4;
    --light-grey: #E2E0D9;
  }

/* ----- 1. BRANDING -------------------------------------------------------*/

.color-item-top {
    height: 4em;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
}

.color-item-bottom {
    height: 4em;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    margin-bottom: 1rem;
}

.bkg-yellow {
    background-color: var(--yellow);
}

.bkg-yellow-shade {
    background-color: var(--yellow-shade);
}

.bkg-dark-grey {
    background-color: var(--dark-grey);
}

.bkg-black {
    background-color: var(--black);
}

.bkg-white {
    background-color: var(--white);
}

.bkg-light-grey {
    background-color: var(--light-grey);
}


/* ----- 2. TEXT & TYPOGRAPHY -------------------------------------------------------*/

.section-border {
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;
    border-bottom-color: #A7A7A7;
}


h1 {
    color: var(--black);
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: bold;
}

h2 {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
}

h3 {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: normal;
}

h4 {
    color: var(--dark-grey);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: normal;
}

h5 {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.caption {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps;
}

p, ol, ul {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.948rem;
}

.txt-italic-subtitle {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: normal;

    margin-top: 3rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    border-bottom-width: 0.15rem;
    border-bottom-style: dashed;
    border-bottom-color: var(--light-grey);

}

.txt-headings-info {
    /* for style guide only*/
    color: #A7A7A7;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    border-top-width: 0.1rem;
    border-top-style: solid;
    border-top-color: #A7A7A7;
    max-width: 65%;
}

.txt-secondary-color {
    color: var(--dark-grey);
}


/* ----- 3. INTERACTIVE -------------------------------------------------------*/

.txt-p-link {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.948rem;
    text-decoration: none;
}

 .txt-p-link:hover, .txt-p-link:focus, .txt-foot-link:hover, .txt-foot-link:focus {
    color: var(--yellow-shade);
}

.txt-foot-link {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.948rem;
    text-decoration: none;
}

.btn-fill {
    text-shadow:none;
    border-style: none;
    background-color: transparent;

    padding: 0.6rem 1.5rem 0.6rem 1.3rem;
    width: 11em;
    cursor: pointer;

    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.05em;

    transition-duration: 0.2s;
    border-radius: 2rem 2rem 2rem 2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: start;
}

.btn-call-action {
    background-color: var(--yellow);
    color: var(--black);
}

.btn-call-action:hover, .btn-call-action:focus {
    background-color: var(--yellow-shade);
    color: var(--dark-grey);
}

.btn-dark {
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 500;
}

.btn-dark:hover, .btn-dark:focus {
    background-color: var(--black);
    color: var(--white);
}

.btn-light {
    background-color: var(--white);
    color: var(--black);
}

.btn-light:hover, .btn-light:focus {
    background-color: var(--light-grey);
    color: var(--black);
}

.btn-outline-action {
    border: 0.25rem solid var(--yellow);
    color: var(--yellow);
    width: 11rem;
}

.btn-outline-action:hover, .btn-outline-action:focus {
    background-color: var(--yellow);
    color: var(--dark-grey);
}

.btn-outline-dark {
    border: 0.25rem solid var(--dark-grey);
    color: var(--dark-grey);
    width: 11rem;
}

.btn-outline-dark:hover, .btn-outline-dark:focus {
    border: 0.25rem solid var(--black);
    color: var(--white);
}

.btn-submit {
    width: 8em;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--yellow);
    color: var(--black);
}

.btn-submit:hover, .btn-submit:focus {
    background-color: var(--yellow-shade);
    color: var(--dark-grey);
}

.btn-reset {
    width: 8em;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 500;
}

.btn-reset:hover, .btn-reset:focus {
    background-color: var(--black);
    color: var(--white);
}

label {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: bold;
}

::placeholder {
    color: var(--light-grey);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1rem;
    overflow: visible;
}

input[type=text], textarea {
    border-radius: 0.5rem;

    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;

    background: #fff;
    border: 0.12rem solid var(--light-grey);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    padding: 0.7rem;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    outline-color: var(--yellow);
    overflow: hidden;
    transition: .2s border-color;
}

input[type=text]:hover, input[type=text]:focus, textarea:hover, textarea:focus {
    color: var(--black);
    border: 0.12rem var(--yellow-shade) solid;
}

input[type=radio], input[type=checkbox] {
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: var(--yellow);
}



.img-link {
    padding: 0.3rem;
    max-width: 30%;
    margin-top: 1rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.img-link-project-home {
    padding: 0.3rem;
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.img-link:hover, .img-link:focus, .img-link-project-home:hover, .img-link-project-home:focus {
    opacity: 0.5;
}


.drop-shadow {
    box-shadow: 0px 0.4375em 0.625em rgba(0, 0, 0, 0.07);
}


/* ----- 4. GRID & LAYOUT & SPACING -------------------------------------------------------*/

.grid-border {
    border: 1px solid grey;
    background: lightblue;
}

.row-bkg-grid div{
    border: 1px solid var(--black);
}

.row-bkg-grid:nth-child(odd) {
    background-color: var(--yellow);
}
  
.row-bkg-grid:nth-child(even) {
    background-color: var(--light-grey);
}

.margin-left {
    margin-left: 2em;
}

.margin-bottom {
    margin-bottom: 2em;
}

.margin-top {
    margin-top: 2em;
}

.margin-t-9 {
    margin-top: 9em;
}

.margin-t-3 {
    margin-top: 3em;
}

.margin-b-1 {
    margin-bottom: 1em;
}

.margin-b-4 {
    margin-bottom: 4em;
}

.padding-b-3 {
    padding-bottom: 3em;
}


/* ----- 5. COMBINED ELEMENTS -------------------------------------------------------*/

.navbar-nav {
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
}

.txt-nav {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.txt-nav:hover, .txt-nav:focus {
    color: var(--dark-grey);
}

/* foot content*/

.bg-light-grey {
    background-color: var(--light-grey);
}

.bg-copywrite {
    background-color: var(--dark-grey);
}

.txt-footer {
    color: var(--light-grey);
}

.bg-project-details {
    padding: 2.5em;
    background-color: var(--white);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.img-100 {
    width: 100%;
}


/* ----- 6. TEMPLATES -------------------------------------------------------*/


/* ----- 7. CITATIONS -------------------------------------------------------*/